In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# get url
nasdaq_100 = requests.get('https://www.stockmonitor.com/nasdaq-stocks/')

# parse with BS4
soup = BeautifulSoup(nasdaq_100.content,"html.parser")

# pull data for columns
tmp_lst=[]
for row in soup.table.find_all('tr')[1:]:
    r_td = row.find_all('td')
    f=[]
    for obj in r_td:
        temp = obj.text.replace("\n","")
        f.append(temp.replace(" ",""))
    tmp_lst.append(f)
    
# create dataframe
df = pd.DataFrame(data = tmp_lst, columns = ["change","symbol","name","price","volume","high","low"])

# clean dataframe
df['high'] = df['high'].str.replace(',','')
df['high'] = df['high'].str.replace('\r','')
df['low'] = df['low'].str.replace(',','')
df['low'] = df['low'].str.replace('\r','')
df['price'] = df['price'].str.replace(',','')
df['price'] = df['price'].str.replace('\r','')
df['volume'] = df['volume'].str.replace('\r', '')
df['volume'] = df['volume'].str.replace(',', '')
df['name'] = df['name'].str.replace('\r', '')
df['change'] = df['change'].str[1:-1].astype(float)

# specify types
df['high'] = df['high'].astype('float')
df['low'] = df['low'].astype('float')
df['price'] = df['price'].astype('float')
df['volume'] = df['volume'].astype('int')

# save to csv
df.to_csv('nasdaq_top_100.csv')

df.head(5)

,change,symbol,name,price,volume,high,low
0,-0.73,ATVI,"ActivisionBlizzard,Inc",61.180,4439843,60.585,61.760
1,-0.25,ADBE,AdobeInc,369.085,1564155,367.280,373.240
2,2.78,AMD,"AdvancedMicroDevices,Inc",53.715,69068116,52.940,54.475
3,1.54,ALXN,"AlexionPharmaceuticals,Inc",102.565,964344,100.875,102.580
4,1.94,ALGN,"AlignTechnology,Inc",264.050,471067,260.525,265.740